extends layout 
 
block content 
  h1= title 
 
  form(id='suitForm', action="/resource/suits", method="POST") 
    div.form-group 
        label.suitAttr(for='suit') suit type 
        input#suit(type='text', name='suit') 
    div.form-group 
        label.suitAttr(for='price') price 
        input#price(type='text', name='price') 
    div.form-group 
        label.suitAttr(for='size') size 
        input#size(type='text', name='size') 
    input(type="submit" class="btn btn-primary") 
    a(class="btn btn-secondary" href="/suit") Cancel
 
  script. 
    document.forms['suitForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 